* {
  margin: 0;
  box-sizing: border-box;
  background: dimgrey;
}

.app {
  text-align: center;
}

.card {
  margin: 0 auto;
  border: solid 1px bisque;
  width: 300px;
  margin-bottom: 10px;
  border-radius: 4px;
}
